# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# nfse-sync specific
*.db
*.db-shm
*.db-wal
*.pfx
*.p12
!internal/foundation/cert/testdata/cert_a1_mock_70860312000150.pfx
exports/
xml/
eventos/
**/.gocache/**
**/.gocache-desktop/**
**/.golangci-cache/**
/vendor
devdata/
/.gocache-review
.env.local
