{{- $font := "fonts/saira-variable.woff2" | relURL -}}
<link rel="preload" href="{{ $font }}" as="font" type="font/woff2" crossorigin />
<style>
  @font-face {
    font-family: "Saira";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    font-stretch: 50% 125%;
    src: url("{{ $font }}") format("woff2-variations"), url("{{ $font }}") format("woff2");
  }
</style>
{{- with .OutputFormats.Get "markdown" }}
<link rel="alternate" type="text/markdown" href="{{ .Permalink }}" />
{{- end }}
{{- if .IsHome }}
<link rel="alternate" type="text/plain" title="llms.txt" href="{{ "llms.txt" | absURL }}" />
{{- end }}
